<!-- <div id="modal" class="add-modal-bg"> -->
    <div class="add-modal-container">
        <div class="add-title">
            <h2>Add Entity Form</h2>
        </div>
        <div class="add-modal-content">
            <form action="{{ url_for('insertData') }}" method="POST">
                <div class="cu">
                    <label for="idno">IDNO</label>
                    <input type="text" name="idno" required>
                </div>

                
                <div class="cu">
                    <label for="idno">Lastname</label>
                    <input type="text" name="lastname" required>
                </div>

                
                <div class="cu">
                    <label for="idno">Firstname</label>
                    <input type="text" name="firstname" required>
                </div>

                
                <div class="cu">
                    <label for="idno">Course</label>
                    <input type="text" name="course" required>
                </div>

                
                <div class="cu">
                    <label for="idno">Level</label>
                    <input type="text" name="level" required>
                </div>

                <button>Submit</button>
            </form>
        </div>
    </div>
<!-- </div> -->